.settings-bar{
  width: 200px;
  height: 500px;
  position: relative;

}
.settings-bar__in{
  position: fixed;
  top: 52px;
  padding: 27px 0 0;
//  overflow: scroll;
//  height: 300px;
  width: 210px;
}
