* {
  outline: none;
}

@import "h5bp";
@include h5bp-helpers;
@include h5bp-chromeframe;
//@include h5bp-media;
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/pie";
@import "compass/css3/images";
@import "compass/typography";
@import "blankwork";
@import "compass/layout/grid-background";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites/base";

$pie-behavior: url(PIE.htc);
@mixin spr-m($map, $ico) {
  background: sprite($map, $ico) no-repeat;
  @include sprite-dimensions($map, $ico);
}

@mixin spr($map, $ico) {
  @include images-sprite($ico);
// height: images-sprite-height($ico);
// width: images-sprite-width($ico);
}

@mixin grad($grad) {
  @include background-image($grad);
  -pie-background: $grad;
  background-image: -ms-#{$grad};
}

@mixin h-line-height($h) {
  height: $h;
  line-height: $h;
}

$h2Color: #54a44b;
@mixin myTextbox($height: 43px, $lheight: 43px, $width: 304px) {
  height: $height;
  line-height: $lheight;
  @include grad(linear-gradient(top, #e1e1e1, #e4e4e4));
  @include pie;
  @include border-radius(50px);
  @include box-shadow(0 2px 1px #ffffff, 0 2px 2px #c9c9c9 inset);
  border: none;
  color: #333;
  font-size: 12px;
  padding: 0 17px;
  width: $width;
  text-shadow: 0 1px 0 #fff;
  output: none !important;

  &::-webkit-input-placeholder {
    color: #333;
    line-height: $lheight;
  }
  &:-moz-placeholder {
    color: #333;
  }
  &.placeholder {
    color: #333;
  }
}

@mixin italicBold {
  font-family: Georgia;
  font-style: italic;
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}

@mixin btn {
  font-family: 'Franklin Gothic Medium' !important;
  font-style: normal;
  text-shadow: 0px 1px 0px #fff;
  height: 31px;
  line-height: 31px;
  text-decoration: none;
  color: #333 !important;
}

$wrapper-width: 1010px;
$link-color: #0f3d75;
$font-name: 'museo_sans';
a {
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}

.db {
  display: block !important;
}

.fl_l {
  float: left !important;
}

.fl_r {
  float: right !important;
}

.center {
  overflow: hidden;
}

.tac {
  text-align: center;
}

.db {
  display: block;
}

.dib {
  @include inline-block;
}

.pr {
  position: relative;
}

.w330 {
  width: 330px !important;
}
.visible{
  display: block !important;
  visibility: visible !important;
  @include opacity(1);
}

@font-face {
  font-family: 'museo_sans';
  src: url('fonts/exljbris_-_museosanscyrl-500-webfont.eot');
  src: url('fonts/exljbris_-_museosanscyrl-500-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/exljbris_-_museosanscyrl-500-webfont.woff') format('woff'), url('fonts/exljbris_-_museosanscyrl-500-webfont.ttf') format('truetype'), url('fonts/exljbris_-_museosanscyrl-500-webfont.svg#museo_sans_cyrl_500regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EpsilonCTT';
    src: url('fonts/epsil.eot');
    src: url('fonts/epsil.eot') format('embedded-opentype'),
         url('fonts/epsil.woff') format('woff'),
         url('fonts/epsil.ttf') format('truetype'),
         url('fonts/epsil.svg#EpsilonCTTNormal') format('svg');
}
