.user-profile {
  width: 675px;
  .profile-widget {
    border: 1px solid #eee;
  }
  .profile-widget__user {
    padding: 4px;
  }
  .column-item__likes {
    margin-top: 4px;
    color: #143359;
  }
  .product-soc {
    @include opacity(1);
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    margin-bottom: 12px;
  }
  .tabs {

  }
  .tabs__nav {
    li {
      padding: 0 6px !important;
      margin: 0 3px;
    }
    .active {
      @include box-shadow(0 1px 1px #c8c8c8 inset);
    }
    .product-users-count {
      padding-left: 6px;
    }
  }
  .tabs__contents, .tabs__nav {
    border: none;
  }
  .catalog__item {
    width: 337px;
    .ico_question {
      margin-left: 0;
    }
    .column-item__likes {
      margin-top: 0;
    }
  }

  .recomendation {
    .column-item__likes {
      margin-top: 0;
    }
  }
}

.user-profile-info {
  padding: 7px 13px 0;
  h2 {
    font-size: 19px;
    padding-bottom: 10px;
  }
}

.user-profile-info__town {
  font-size: 13px;
  padding: 5px 0 0 9px;
}

.user-profile__row {
  @include clearfix;
  border-bottom: 1px solid #e5e5e5;
  @include box-shadow(0 1px 0 #f8f8f8);
  padding: 0 0 18px 0;
  margin: 0 0 15px 0;
  z-index: 21;
  position: relative;
  .product-users-count {
    padding-left: 6px;
  }
  h3 {
    position: relative;
    top: 6px;
    min-height: 25px;
    padding-right: 23px;
    padding-bottom: 10px;
  }
  header{
    .btn_lblue_big{
      margin-bottom: 0;
    }
  }
}

.user-profile__ava {
  padding: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  @include inline-block();
  img {
    width: 95px;
    height: 95px;
    display: block;
  }
}

.user-carousel-wrap__small {
  @extend .user-carousel-wrap;
  width: 330px !important;
}

.user-carousel-wrap__small2 {
  position: relative;
  top: -1px;
  @extend .user-carousel-wrap__small;
  .user-carousel {
    height: 52px !important;
  }
  li {
    width: 52px !important;
    height: 52px !important;
    img {
      width: 52px !important;
      height: 52px !important;
    }
  }
}

.user-answers {
  .column-item__answer {

  }
  .ico_dialog2 {
    margin: 13px 10px 0 7px;
  }
  .column-item__question__text {
    padding-top: 12px;
  }
  .column-item__question__time {
    span {
      padding-right: 4px;
    }
  }
  .column-item__question__soc {
    @include opacity(1);
    visibility: visible;
    display: block;
    margin-right: 9px;
  }
}
.catalog__item-list{
  @include clearfix;
  border-bottom: 1px solid #e8e8e8;
}
.catalog__item2 {
  @extend .catalog__item;
  //@include box-shadow(inset 0 1px 0 rgba(57,121,239,.22));
  border: 0;
  background-color: #f3f3f3;
  border-top: 1px solid #e8e8e8;

  height: 95px;
  &:hover{
    background-color: #e9ebf7;
    border-top: 1px solid #d7def5;
  }
  .catalog__item__img {
    left: 0;
    margin: 0;
    height: 95px !important;
    padding: 0;
    @include box-sizing(border-box);
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
  }
  .column-item__title {
    font-size: 13px;
    width: 220px;
  }

  .product-rate_big {
    background: url('../images/stars2.png');
    height: 12px;
    width: 65px;
    margin-top: 11px;
    span{
      height: 12px;
      background: url("../images/stars2.png") repeat scroll 0 11px transparent;
      display: block;
    }
  }
  .column-item__interact {
    top: 17px;
    right: 12px;
    left: auto;
    &:before{
      top: 19px;
    }
  }

  &:hover {
    .column-item__interact {
      @include opacity(1);
    }
  }
  .column-item__likes{
    @include h-line-height(11px);
    margin-left: 3px;
    margin-top: 11px !important;
    .ico_vote-comments{
      margin-right: 5px;
    }
  }
  .column-item__price{
    margin-top: 3px;
  }
}

.catalog__item__descr {
  padding: 15px 0 0 14px;
  //border-top: 1px solid #d7def5;
}

.tabs3{
  .tabs__nav{
    border-bottom: 1px solid #e5e5e5;
    li{
      margin: 0 3px 0 0;
    }
  }
}